.help-details-title{
  padding:1.5rem 1.5rem 0 1.5rem;
  >span{
    border-bottom: 0.55px solid #f3f4f5;
    display: block;
    color: #333;
    height: 2.5rem;
  }
}

.help-details-content{
  padding:0.75rem 1.5rem 2rem 1.5rem;
  color: #666;
  line-height: 2.5rem;
}
