
//头部字体颜色
$toolbar-ios-title-text-color:#fff;

//头部字体大小
$toolbar-ios-title-font-size:1.8rem;

//头部标题字体粗细
$toolbar-ios-title-font-weight:400;

//头部高度
$toolbar-ios-height:4rem;

//头部高度
$navbar-ios-height:4rem;

//tabs图标大小
$tabs-ios-tab-icon-size:2rem;

/*修改输入框默认字的颜色*/
$text-input-placeholder-color:#c5c5c5;

$action-sheet-ios-padding-end:0;
$action-sheet-ios-border-radius:0;
$action-sheet-ios-button-font-size:1.5rem;
$action-sheet-ios-button-border-color:#f3f4f5;
