@font-face {
  font-family: 'icomoomcus';
  src:  url('../assets/fontCustom/icomoomcus.eot?clesej');
  src:  url('../assets/fontCustom/icomoomcus.eot?clesej#iefix') format('embedded-opentype'),
  url('../assets/fontCustom/icomoomcus.ttf?clesej') format('truetype'),
  url('../assets/fontCustom/icomoomcus.woff?clesej') format('woff'),
  url('../assets/fontCustom/icomoomcus.svg?clesej#icomoomcus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconcus-"], [class*=" iconcus-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoomcus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcus-messages:before {
  content: "\e93b";
}

.iconcus-xialaa2:before {
  content: "\e915";
}
.iconcus-mytask:before {
  content: "\e916";
}
.iconcus-xialaa:before {
  content: "\e913";
}
.iconcus-yaoqing:before {
  content: "\e914";
}
.iconcus-hand:before {
  content: "\e90b";
}
.iconcus-task:before {
  content: "\e90c";
}
.iconcus-wechat:before {
  content: "\e900";
}
.iconcus-help:before {
  content: "\e901";
}
.iconcus-addr:before {
  content: "\e902";
}
.iconcus-Telep:before {
  content: "\e903";
}
.iconcus-check-mark:before {
  content: "\e904";
}
.iconcus-feedback:before {
  content: "\e905";
}
.iconcus-arrow-left:before {
  content: "\e906";
}
.iconcus-share:before {
  content: "\e907";
}
.iconcus-cache:before {
  content: "\e908";
}
.iconcus-Plus:before {
  content: "\e909";
}
.iconcus-arrow-right:before {
  content: "\e90a";
}
.iconcus-contact:before {
  content: "\e90d";
}
.iconcus-password:before {
  content: "\e90e";
}
.iconcus-nickname:before {
  content: "\e90f";
}
.iconcus-age:before {
  content: "\e910";
}
.iconcus-platform:before {
  content: "\e911";
}
.iconcus-confirm-pw:before {
  content: "\e912";
}
.iconcus-Apply:before {
  content: "\e917";
}
.iconcus-Profit:before {
  content: "\e918";
}
.iconcus-phone:before {
  content: "\e919";
}
.iconcus-Withdrawals:before {
  content: "\e91a";
}
.iconcus-headlines:before {
  content: "\e91b";
}
.iconcus-auavta:before {
  content: "\e91c";
}
.iconcus-website:before {
  content: "\e91d";
}
.iconcus-wechatb:before {
  content: "\e91e";
}
.iconcus-me:before {
  content: "\e91f";
}
.iconcus-subordinate:before {
  content: "\e920";
}
.iconcus-message:before {
  content: "\e921";
}
.iconcus-asterisk:before {
  content: "\e922";
}
.iconcus-hobby:before {
  content: "\e923";
}
.iconcus-gender:before {
  content: "\e924";
}
.iconcus-modify-pw:before {
  content: "\e925";
}
.iconcus-verification:before {
  content: "\e926";
}
.iconcus-invitation:before {
  content: "\e927";
}
.iconcus-bank-card .path1:before {
  content: "\e928";
  color: rgb(47, 138, 208);
}
.iconcus-bank-card .path2:before {
  content: "\e929";
  margin-left: -1.240234375em;
  color: rgb(26, 192, 208);
}
.iconcus-bank-card .path3:before {
  content: "\e92a";
  margin-left: -1.240234375em;
  color: rgb(254, 86, 86);
}
.iconcus-user:before {
  content: "\e92b";
}
.iconcus-maill:before {
  content: "\e92c";
}
.iconcus-alipay:before {
  content: "\e92d";
}
.iconcus-occupation:before {
  content: "\e92e";
}
.iconcus-home:before {
  content: "\e92f";
}
.iconcus-careful:before {
  content: "\e930";
}
.iconcus-quill:before {
  content: "\e931";
}
.iconcus-image:before {
  content: "\e932";
}
.iconcus-images:before {
  content: "\e933";
}
.iconcus-profile:before {
  content: "\e937";
}
.iconcus-paste:before {
  content: "\e938";
}
.iconcus-stack:before {
  content: "\e934";
}
.iconcus-price-tag:before {
  content: "\e935";
}
.iconcus-price-tags:before {
  content: "\e936";
}
.iconcus-barcode:before {
  content: "\e939";
}
.iconcus-qrcode:before {
  content: "\e93a";
}
.iconcus-coin-yen:before {
  content: "\e93e";
}
.iconcus-credit-card:before {
  content: "\e93f";
}
.iconcus-location:before {
  content: "\e947";
}
.iconcus-location2:before {
  content: "\e948";
}
.iconcus-mobile:before {
  content: "\e958";
}
.iconcus-mobile2:before {
  content: "\e959";
}
.iconcus-database:before {
  content: "\e964";
}
.iconcus-spinner9:before {
  content: "\e982";
}
.iconcus-spinner11:before {
  content: "\e984";
}
.iconcus-search:before {
  content: "\e986";
}
.iconcus-zoom-in:before {
  content: "\e987";
}
.iconcus-zoom-out:before {
  content: "\e988";
}
.iconcus-cogs:before {
  content: "\e995";
}
.iconcus-leaf:before {
  content: "\e9a4";
}
.iconcus-bin:before {
  content: "\e9ac";
}
.iconcus-switch:before {
  content: "\e9b6";
}
.iconcus-tree:before {
  content: "\e9bc";
}
.iconcus-menu3:before {
  content: "\e9bf";
}
.iconcus-menu4:before {
  content: "\e9c0";
}
.iconcus-plus:before {
  content: "\ea0a";
}
.iconcus-minus:before {
  content: "\ea0b";
}
.iconcus-info:before {
  content: "\ea0c";
}
.iconcus-cancel-circle:before {
  content: "\ea0d";
}
.iconcus-play3:before {
  content: "\ea1c";
}
.iconcus-volume-high:before {
  content: "\ea26";
}
.iconcus-volume-medium:before {
  content: "\ea27";
}
.iconcus-volume-low:before {
  content: "\ea28";
}
.iconcus-volume-mute:before {
  content: "\ea29";
}
.iconcus-volume-mute2:before {
  content: "\ea2a";
}
.iconcus-volume-increase:before {
  content: "\ea2b";
}
.iconcus-volume-decrease:before {
  content: "\ea2c";
}
.iconcus-loop2:before {
  content: "\ea2e";
}
.iconcus-circle-up:before {
  content: "\ea41";
}
.iconcus-circle-right:before {
  content: "\ea42";
}
.iconcus-circle-down:before {
  content: "\ea43";
}
.iconcus-circle-left:before {
  content: "\ea44";
}
.iconcus-ctrl:before {
  content: "\ea50";
}
.iconcus-checkbox-checked:before {
  content: "\ea52";
}
.iconcus-checkbox-unchecked:before {
  content: "\ea53";
}
.iconcus-radio-checked:before {
  content: "\ea54";
}
.iconcus-radio-checked2:before {
  content: "\ea55";
}
.iconcus-radio-unchecked:before {
  content: "\ea56";
}
.iconcus-crop:before {
  content: "\ea57";
}
.iconcus-sina-weibo:before {
  content: "\ea9a";
}
.iconcus-flickr:before {
  content: "\eaa3";
}
.iconcus-IE:before {
  content: "\eadb";
}
.iconcus-html-five:before {
  content: "\eae4";
}
.iconcus-html-five2:before {
  content: "\eae5";
}


[class^="ion-"], [class*=" ion-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoomcus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ion-ios-iconcus-home:before,
.ion-ios-iconcus-home-outline:before {
  content: "\e92f";
}

.ion-ios-iconcus-task:before,
.ion-ios-iconcus-task-outline:before{
  content: "\e90c";
}

.ion-ios-iconcus-database:before,
.ion-ios-iconcus-database-outline:before{
  content: "\e964";
}

.ion-ios-iconcus-me:before,
.ion-ios-iconcus-me-outline:before{
  content: "\e91f";
}
