.tixian-input{

  color: #555;
  margin: 0.5rem 0 2.5rem 0!important;

  .label-ios {
    margin: 11px 0 11px 0;
  }
  ion-input{
    background-color: #f8f8f8;
  }

  .text-input-ios {
    margin: 8px 8px 8px 0;
  }
}
